/* ==========================================================================
   Montserrat, self-hosted (no request to Google Fonts)
   Files: assets/fonts/montserrat/, latin subset (covers German umlauts and ß)
   Licence: SIL Open Font License 1.1, see assets/fonts/montserrat/OFL.txt
   ========================================================================== */

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/montserrat/montserrat-latin-500-normal.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/montserrat/montserrat-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/montserrat/montserrat-latin-800-normal.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/montserrat/montserrat-latin-900-normal.woff2") format("woff2");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/montserrat/montserrat-latin-900-italic.woff2") format("woff2");
}
